Business Document Analyst-hw.json
{
  "name": "Business Document Analyst-hw",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -16
      ],
      "id": "37310ca3-f55c-497d-ab2c-d95d556f3810",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wvWEiPA7SWfiLQec",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Document text:\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are a document intelligence assistant. Your task is to analyze the provided document text and extract key information.\n\nYou must respond ONLY with a raw, valid JSON object. Do not include any conversational text, explanations, or Markdown formatting (do not use ```json or backticks).\n\nThe JSON object must use this exact structure and field types:\n{\n  \"summary\": \"Write a concise 2-3 sentence summary of the document.\",\n  \"classification\": \"Must be exactly one of: [invoice, report, contract, ticket, article, other]\",\n  \"sentiment\": \"Must be exactly one of: [positive, neutral, negative]\",\n  \"entities\": {\n    \"people\": [\"list of person names mentioned\", \"leave empty if none\"],\n    \"organizations\": [\"list of company or organization names\", \"leave empty if none\"],\n    \"dates\": [\"list of dates mentioned\", \"leave empty if none\"],\n    \"amounts\": [\"list of monetary amounts\", \"leave empty if none\"]\n  },\n  \"action_items\": [\"list of recommended actions or next steps\", \"leave empty if none\"],\n  \"confidence_score\": 0.95\n}\n\nEnsure the \"confidence_score\" is a number between 0.0 and 1.0 representing your certainty in the extraction."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -16
      ],
      "id": "c5463f6c-3190-45a8-9447-3ab76e49d94c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        -16
      ],
      "id": "79e72cd4-a190-4b03-ba3c-6107f0e6b1c0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18ENbIPwfP6qBgt1lArUAa-8-aUR-Lxn4LMLchfvHF_g",
          "mode": "list",
          "cachedResultName": "Business Document Analyst sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18ENbIPwfP6qBgt1lArUAa-8-aUR-Lxn4LMLchfvHF_g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18ENbIPwfP6qBgt1lArUAa-8-aUR-Lxn4LMLchfvHF_g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "document_id": "={{ $json.document_id }}",
            "filename": "={{ $('Download file').item.json.name }}",
            "processed_at": "={{ $json.processed_at }}",
            "classification": "={{ $('Code in JavaScript').item.json.classification }}",
            "department": "={{ $json.department }}",
            "sentiment": "={{ $('Code in JavaScript').item.json.sentiment }}",
            "confidence_score": "={{ $json.adjusted_confidence_score }}",
            "summary": "={{ $('Code in JavaScript').item.json.summary }}",
            "routing_tag": "={{ $json.routing_tag }}",
            "sensitivity": "={{ $json.sensitivity }}",
            "action_items": "={{ $('Code in JavaScript').item.json.action_items[0] }}",
            "file_type": "={{ $('Download file').item.json.fileExtension }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "document_id",
              "displayName": "document_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "routing_tag",
              "displayName": "routing_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sensitivity",
              "displayName": "sensitivity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_items",
              "displayName": "action_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -16
      ],
      "id": "d319339d-fa7a-4f6b-b2b6-4e2adc6ca8eb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PBc1p0o5VuR9PJjR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the string output from the AI Agent\nconst rawString = $input.first().json.output;\n\n// Parse it into a real JSON object\nconst parsedData = JSON.parse(rawString);\n\n// Return it so n8n can use the individual fields downstream\nreturn [\n  {\n    json: parsedData\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "1aa09fd6-caaa-4a71-a625-bef21f56fa6f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "Irad.danieli@gmail.com",
        "subject": "=[{{ $('Code in JavaScript').item.json.classification.toUpperCase() }}] New document processed: {{ $json.filename }}",
        "message": "=<h2>Document Processed</h2> <p><b>File:</b> {{ $json.filename }}</p> <p><b>Classification:</b> {{ $json.classification }}</p> <p><b>Sentiment:</b> {{ $('Code in JavaScript').item.json.sentiment }}</p> <p><b>Department:</b> {{ $('HTTP Request').item.json.department }}</p> <p><b>Sensitivity:</b> {{ $('HTTP Request').item.json.sensitivity }}</p> <p><b>Routing tag:</b> {{ $('HTTP Request').item.json.routing_tag }}</p>  <h3>Summary</h3> <p>{{ $('Code in JavaScript').item.json.summary }}</p>  <h3>Action items</h3> <p>{{ $('Code in JavaScript').item.json.action_items[0] }}</p> <hr> <p><i>Sent automatically by n8n + Gemini 3 Document Analyst</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        -16
      ],
      "id": "9d6bf4a6-180d-4c16-8c7a-fd636f506a2a",
      "name": "Send a message",
      "webhookId": "a1307c14-0541-44a8-a30d-e14a3bd4b3e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "RTxCILzPDOSP9GRj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -16
      ],
      "id": "535d73e3-fbb4-4299-b536-d98d7761891f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17UsCGTONcnOmj1NzmxS07MTf5CKKMseD",
          "mode": "list",
          "cachedResultName": "incoming_docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17UsCGTONcnOmj1NzmxS07MTf5CKKMseD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "77925d32-b869-4bed-a9bc-f8472cc4fa06",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wvWEiPA7SWfiLQec",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        256
      ],
      "id": "67ddcd34-dfae-4548-88f0-0e80ecc4a15b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PXkpnTWMhbujVt3c",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bcb5cf14-ec7c-44a2-91db-7cf9b3c5e7be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d5f6066c65cfe53b2d4457e60b4c84ae94b7465bd11f4caeeda809a8636ddf3"
  },
  "nodeGroups": [],
  "id": "hom7yhuQrTphaqLr",
  "tags": []
}